export(check_vtest_db)
export(end_vcontext)
export(init_vtest)
export(load_commits_table)
export(load_lastresultset)
export(load_resultsets)
export(most_recent_vtest)
export(recent_vtest)
export(save_last_resultset)
export(save_vtest)
export(save_vtest2)
export(vcontext)
export(vdiff_webpage)
export(vdiffstat)
export(vtest)
export(vtest_webpage)
import(devtools)
import(digest)
import(plyr)
import(reshape2)
import(stringr)
importFrom(whisker,iteratelist)
importFrom(whisker,whisker.render)
