<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<title>Visual tests diffs: {{context}}</title>
</head>
<body>
<h1>Visual test diffs: {{context}}</h1>
<h2>Comparing <span class="refspec">{{ref1text}}</span> to <span class="refspec">{{ref2text}}</span></h2>
<p>Commits: <span class="smallrefspec">{{commit1}}</span>, <span class="smallrefspec">{{commit2}}</span></p>

<table>
  <thead><tr>
    <th>Total tests</th>
    <th>Added</th>
    <th>Deleted</th>
    <th>Changed</th>
  </tr></thead>
  <tbody>
{{#vstat}}
    <tr>
      <td class="num">{{Total}}</td>
      <td class="{{A_class}}">{{A}}</td>
      <td class="{{D_class}}">{{D}}</td>
      <td class="{{C_class}}">{{C}}</td>
    </tr>
{{/vstat}}
  </tbody>
</table>

{{#vditems}}
{{#value}}
<div class="float"><div class="{{status}}">
  <div class="header">
    <p class="description">{{desc}}</p>
  </div>
  <div class="imageset">
    <span class="imagewrap">
      <div><span class="refspec">{{ref1text}}</span></div>
      <div class="image">{{{cell1}}}</div>
      <div class="hash">{{hash1}}</div>
    </span>
    <span class="imagewrap">
      <div><span class="refspec">{{ref2text}}</span></div>
      <div class="image">{{{cell2}}}</div>
      <div class="hash">{{hash2}}</div>
    </span>
    <span class="imagewrap">
      <div>Difference</div>
      <div class="image">{{{celld}}}</div>
    </span>
  </div>
</div></div>
{{/value}}
{{/vditems}}

</body>
</html>
